.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e86c1;
  padding: 1rem;
  color: #fff;
}

.navbar_right {
  display: flex;
  gap: 18px;
  align-items: center;
}

.heading {
  font-size: 1.5rem;
  margin: 0;
}
